<% if flash[:alert].present? %>
  <div>
    <%= flash[:alert] %>
  </div>
<% end %>
<h1>Add a 2FA Passkey</h1>

<%= form_with url: second_factor_webauthn_credentials_path,
              method: :post,
              data: {
                controller: "webauthn-credentials",
                "webauthn-credentials-options-url-value": create_options_second_factor_webauthn_credentials_path
              } do %>

  <div>
    <label for="credential_nickname">Nickname (optional)</label>
    <input id="credential_nickname" name="credential[nickname]" type="text" />
  </div>

  <input
    type="hidden"
    name="credential[public_key_credential]"
    value=""
    data-webauthn-credentials-target="credentialHiddenInput" />

  <button
    type="button"
    data-webauthn-credentials-target="submitButton"
    data-action="click->webauthn-credentials#create">
    Create 2FA Passkey
  </button>
<% end %>
